@using Business.Models
@model Wedding.ViewModels.Gallery.GalleryViewModel

@{ 
    Layout = null;
}

<div id="container">
    @if (Model != null && Model.Images != null)
    {
        foreach (var image in Model.Images)
        {
            var className = (image is AzureGalleryImageDTO) ? "azure-photo" : "";
            <div class="gallery-image">
                <img src='@image.Url' class="@className"/>

                <a class="save-button" onclick="saveImage('@image.ID', '@image.Url')">SAVE</a>
            </div>
        }

        <div id="pagination">
            <a href="../PhotoGallery/PhotoSet" class="next">next</a>
        </div>
        <input id="currentSource" type="hidden" value="@Model.CurrentPhotoSource"/>
    }
</div>
